/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/11/2020, 07:56:00 PM
    Author     : angel
*/

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p { color: black; 
    font-family: Verdana; 
}

fieldset {
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    width: auto;
    background:  #24303c;
    padding: 20px;
    border: none;
    border-radius: 3px;
    font-family: 'calibri';
    font-size: 15px;
    color: white;
    opacity: 0.9;
}

nav ul fieldset {
    margin: 15px;
    font-size: 35px;
    opacity: 0.9;
}

header {
    font-family: 'calibri';
    float:top;
    background-color:  white;
    text-align: center;
    font-size: 60px;
    padding: 15px;
    border-radius: 6px;
}

header a, header a:visited{
    text-decoration: none;
    color: black;
}

a {
    margin: auto;
}

ul { 
    list-style: none; 
}

form label{
    width:100%;
    font-weight:bold;
    display:inline-block;
}

form input[type="text"], input[type="password"], input[type="number"], input[type="date"], select {
    width: 100%;
    padding: 3px 10px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px auto;
    display: inline-block;
}

form input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:5px solid black;
    border-radius:5px;
    display:block;
    color:black;
    background-color:white;
    font-size: 15px;
} 

form input[type="submit"]:hover{
    cursor:pointer;
}

nav {
    font-family: 'calibri';
    list-style: none;
    text-align: justify;
    margin: auto;
    color: white;
}

nav ul a, nav ul a:visited{
    text-decoration: none;
    color: white;
}

nav ul a:hover, header a:hover{
    text-decoration: underline;
}

article{
    font-family: 'calibri';
    float:center;
    font-size: 30px;
    width: 80%;
    heght:100px;
    margin:auto;
}
checkbox{
    font-size: 50px;
}

label{
    font-size: 20px;
    padding: 15px;

}
body{
    background-image: url('https://scontent.fhmo2-2.fna.fbcdn.net/v/t1.0-9/23622440_10154812987682330_3808151369140600903_n.png?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeEfBuBuevul3cTo0d0VIQtPCO7J8k_9CAwI7snyT_0IDOCaj89VmFwLOx6vers5WZTq03sO0knSBrageRtL-iRx&_nc_ohc=ePi7crB9eNkAX83Mj3H&_nc_ht=scontent.fhmo2-2.fna&oh=51609e5c5253702c11ac2c6e91aeb53c&oe=5FD90C5A');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
table, form {
    font-family: 'calibri';
    font-size: 20px;
    background-color: #B23333;
    margin: 15px auto;
    padding: 10px;
    width: 80%;
    border-radius: 6px;
    border-collapse: separate;
    border: white 5px solid;
    color: white;
    padding-top: 0px;
    opacity: 0.9;
}